/* VARIABLES */
:root {
    --c-dark: #212529; /* Color de texto */
    --c-brand: #c9121b; /* Color de la marca */
    --c-brand-light: #ce515b; /* Color de la marca claro */
    --c-brand-rgb: 201, 18, 27; /* Color de la marca en RGB */
    --c-body: #727272; /* Color de texto secundario */
    --font-base: "Josefin Sans", sans-serif; /* Fuente base */
    --box-shadow: 0px 15px 25px rgba(0,0,0,0.08); /* Sombra */
    --transition: all 0.5s ease; /* Transición */
}

/* RESET & HELPERS */
body {
    font-family: var(--font-base);
    line-height: 1.7;
    color: var(--c-body);
}

h1, h2, h3,h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 600;
    color: var(--c-dark);
}

a {
    text-decoration: none;
    color: var(--c-brand);
    transition: var(--transition);
}

a:hover {
    color: var(--c-brand-light);
}

img {
    max-width: 100%;
    height: auto;
}

.section-padding {
    padding-top: 100px;
    padding-bottom: 10px;
}

.theme-shadow {
    box-shadow: var(--box-shadow);
}


/* NAVBAR */
.navbar {
    box-shadow: var(--box-shadow);
}

.navbar-nav .nav-link {
    font-size: 16px;
    color: var(--c-dark);
}

.navbar-nav .nav-link.active {
    color: var(--c-brand);
}

nav img {
    max-width: 100%;
    height: 7vh;
}


/* BTN */
.btn {
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 0;
    padding: 10px 24px;
}

.btn-brand {
    background-color: var(--c-brand);
    border-color: var(--c-brand);
    color: white;
}

.btn-brand:hover {
    background-color: var(--c-brand-light);
    border-color: var(--c-brand-light);
    color: white;
}


/* HERO */
#hero {
    background: linear-gradient(rgba(var(--c-brand-rgb), 0.6), rgba(var(--c-brand-rgb), 0.1)), url(../images/hero.gif); /* Imagen con transparencia de color */
    background-position: center;
    background-size: cover;
}

/* NOTICIAS */

.noticia-wrapper {
    overflow: hidden;
    position: relative;
}

.noticia-wrapper img {
    transition: var(--transition);
    transform-origin: center center;
    width: 100%;
}

.noticia-wrapper:hover img {
    transform: scale(1.1);
}

.modal-body {
    text-align: justify;
}

@media (max-width: 767px) {
    #blog .noticia {
        margin-bottom: 30px;
    }
}


/* CLASIFICACIONES */

#clasificaciones table {
    font-size: large;
}

#clasificaciones th {
    text-align: center;
}

#clasificaciones .redbull td {
    background-color: #210892;
    color: white;
}

#clasificaciones .ferrari td {
    background-color: #dc0000;
    color: black;
}

#clasificaciones .mclaren td {
    background-color: #ff8700;
    color: white;
}

#clasificaciones .mercedes td {
    background-color: #00d2be;
    color: black;
}

#clasificaciones .astonmartin td {
    background-color: #006f62;
    color: white;
}

#clasificaciones .rb td {
    background-color: #2522d6;
    color: white;
}

#clasificaciones .alpine td {
    background-color: #242a5a;
    color: white;
}

#clasificaciones .sauber td {
    background-color: #0fd330;
    color: black;
}

#clasificaciones .williams td {
    background-color: #005aff;
    color: white;
}

#clasificaciones .haas td {
    background-color: #ffffff;
    color: black;
}

#clasificaciones td:nth-child(1),
#clasificaciones td:nth-child(3),
#clasificaciones td:nth-child(4),
#clasificaciones td:nth-child(5) {
    background-color: rgb(219, 216, 216);
    color: black;
    text-align: center;
}



/* GALERIA */

#galeria img {
    margin-top: 1.4vh;
    transition: all 0.5s ease;
}

#galeria img:hover {
    transform: scale(1.02);
    filter: brightness(1.2);
}


/* CONTACT */

#contacto {
    position: relative;
    z-index: 2;
    margin-top: 15vh;
    padding-bottom: 15vh;
}

#contacto::after {
    content: "";
    width: 100%;
    height: 70%;
    background: linear-gradient(rgba(var(--c-brand-rgb), 0.8), rgba(var(--c-brand-rgb), 0.8)), url(../images/galeria1.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#contacto .form-control {
    border-radius: 0;
}

#contacto .form-control:focus {
    box-shadow: none;
    border-color: var(--c-brand);
}


/* FOOTER */
footer {
    padding-top: 120px;
}

.footer-top {
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}

.footer-bottom {
    padding-top: 40px;
    padding-bottom: 40px;
}


footer li,
footer p,
footer a {
    color: rgba(255,255,255,0.7);
}

footer ul {
    list-style: none;
    padding: 0;
}

footer .line {
    width: 40px;
    height: 4px;
    background-color: var(--c-brand);
    margin-top: 12px;
    margin-bottom: 24px;
}

.social-icons a {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255,255,255,0.1);
    border-radius: 100px;
}

.social-icons a:hover {
    background-color: var(--c-brand);
    color: white;
}

